{% extends "header.html" %}
{% block content %}
<div>
    <!-- Greeting -->
    {% if image %}
        {# Profile picture #}
        <img src="data:image/png;base64,{{image}}" alt="image">
    {% endif %}

    <div>Welcome, {{username}}!</div>

    <!-- update username -->
    <div>
        <h3>
            Update Username
        </h3>
        <form method="POST" action="">
            {{ update_username_form.csrf_token }}
            <div>
                {{ update_username_form.username.label }}
                {{ update_username_form.username(class="form-content") }}
                {% if update_username_form.username.errors %}
                <div role="alert">
                    {% for error in update_username_form.username.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
            {{ update_username_form.submit_username }}
        </form>
    </div>

    <!-- update profile pic -->
    <div>
        Update Profile Picture
    </div>
    <form method="POST" action="" enctype="multipart/form-data">
        {{ update_profile_pic_form.csrf_token }}
        <div class="form-group">
            {{ update_profile_pic_form.picture.label }}
            {{ update_profile_pic_form.picture(class="form-content") }}
            {% if update_profile_pic_form.picture.errors %}
            <div role="alert">
                {% for error in update_profile_pic_form.picture.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            {% endif %}
        </div>
        {{ update_profile_pic_form.submit_picture }}
    </form>

</div>
{% endblock %}