{% extends "header.html" %} {% block content %}
<div>
    <div>search artist</div>
    <form action = "/" method = "POST">
        {{ form.csrf_token }}
        {{ form.search_query(class="form-control", placeholder="search") }}
        {% if form.search_query.errors %}
            <div>
                {% for error in form.search_query.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}
      
        {{ form.submit(class="form-button") }}
    </form>
</div>
{% endblock %}
